@import "theme";

.user-info-card {
  display: flex;
  padding: 16px 20px;
  border-radius: 10px;

  &-avatar {
    margin-right: 16px;
    width: 44px;
    height: 44px;
  }

  &-title {
    font-size: 20px;
  }

  &-desc {
    margin-top: 6px;
  }
}
