*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

.app {
  min-height: 100vh;
  height: 100%;
  background-color: #eeeae6;
}

input,
button,
textarea {
  font-family: $font-family;
}
