@import "theme";

.chat-msg {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 32px;

  .divider {
    margin: 4px 0;
  }

  .ql-container.ql-snow .ql-editor {
    padding: 0;
  }

  &-rtl {
    padding-top: 0;
    padding-left: 0;
    flex-direction: row-reverse;

    .chat-msg-tips {
      flex-direction: row-reverse;
    }

    .chat-msg-profile {
      display: none;
    }
  }

  &-profile {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
  }

  &-icon {
    margin-right: 6px;
  }

  &-name {
    line-height: 1;
  }

  &-content {
    padding: 4px 8px;
    min-height: 32px;
    flex: 1 1;
    border: 1px solid mat-color($gray, 400);
    border-radius: 6px;
    word-wrap: break-word;
  }

  &-tips {
    display: flex;
    justify-content: flex-end;
  }

  &-tip {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 14px;

    &-link {
      color: #2177b9;
      opacity: 0.7;
      cursor: pointer;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  &-menu-trigger {
    padding: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
  }
}
