.forward-btn {
  position: relative;
  padding: 6px 12px;
  border: 1px solid #7e7874;
  border-radius: 7px 16px 16px 7px;
  transition: opacity 0.2s;
  cursor: pointer;

  &-block {
    display: block;
  }

  &-arrow {
    position: absolute;
    top: calc(50% - 8px);
    right: 12px;
  }

  &-disabled {
    border: 1px solid #7e7874;
    opacity: 0.65;
    cursor: default;
  }

  &:not(#{&}-disabled):hover {
  }
}
