@use 'theme';
@import "~@angular/material/theming";

$font-size: 16px;

.forward-btn {
  position: relative;
  display: inline-block;
  padding: 6px 34px 6px 12px;
  border: 1px solid mat-color(theme.$gray, 500);
  border-radius: 7px 18px 18px 7px;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font-size: $font-size;
  font-weight: bold;
  color: mat-color(theme.$gray, 700);
  transition: opacity 0.2s;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    height: 1em;
    transform: translateY(-50%);
  }

  &-disabled {
    opacity: 0.65;
    cursor: default;
  }

  &:not(#{&}-disabled):hover {
  }
}
