$user-avatar-md: 48px;
$user-avatar-padding-md: 6px;

$user-avatar-lg: 64px;
$user-avatar-padding-lg: 10px;

@mixin user-avatar-sizing($size: $user-avatar-md, $padding: $user-avatar-padding-md) {
  height: $size;
  width: $size;
  padding: $padding;
}

.user-avatar {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: border .2s;

  &:hover {
    border-color: #a89e99;
  }

  @include user-avatar-sizing();

  &.user-avatar-lg {
    @include user-avatar-sizing($user-avatar-lg, $user-avatar-padding-lg);
  }

  &.user-avatar-selected {
    border-color: #706b68;
    cursor: default;
  }

  > mat-icon {
    width: 100%;
    height: 100%;
  }
}
