<div class="container">
    <div class="login-box">
        <div class="icon-list">
            <div class="icon">
                <mat-icon svgIcon="avatar:cat"></mat-icon>
            </div>
            <div class="icon">
                <mat-icon svgIcon="avatar:dog"></mat-icon>
            </div>
            <div class="icon">
                <mat-icon svgIcon="avatar:fish"></mat-icon>
            </div>
            <div class="icon">
                <mat-icon svgIcon="avatar:fish-fill"></mat-icon>
            </div>
            <div class="icon">
                <mat-icon svgIcon="avatar:monkey"></mat-icon>
            </div>
            <div class="icon">
                <mat-icon svgIcon="avatar:monkey-fill"></mat-icon>
            </div>
            <div class="icon">
                <mat-icon svgIcon="avatar:parrot"></mat-icon>
            </div>
            <div class="icon">
                <mat-icon svgIcon="avatar:parrot-fill"></mat-icon>
            </div>
        </div>
    </div>
</div>
