@import "theme";

.grid-block {
  padding: 5px;
  width: 100%;
  height: 100%;
}

.side-bar {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid mat-color($gray, 300);
  border-radius: 6px;

  &-content {
    flex: 1 1;
  }

  &-footer {
    margin-top: auto;
  }
}

.chat-room-card {
}

.msg-screen {
  padding: 10px;

  * + * {
    margin-top: 12px;
  }
}

.msg-wrapper {
  max-width: 60%;
  width: fit-content;

  &-right {
    margin: 0 0 0 auto;
  }
}

.mat-drawer {
  width: 75%;
}

.mat-drawer-container {
  height: 100%;
}

.mat-drawer-content {
  padding: 10px;
}

:host ::ng-deep .mat-expansion-panel {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;

  .mat-expansion-panel-header {
    height: auto;
    padding: 0;
    color: mat-color($gray, 500);

    .mat-content {
      height: 24px;
      justify-content: center;
      background-color: mat-color($gray, 200);
      transition: background-color 0.25s ease-out, height 0.25s ease-out;
      user-select: none;

      &:hover {
        background-color: mat-color($gray, 300);
      }
    }

    &.mat-expanded {
      .mat-content {
        height: 20px;

        .mat-icon {
          width: 20px;
          height: 20px;
          font-size: 20px;
        }
      }
    }
  }

  .mat-expansion-panel-content {
    overflow: hidden;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}

// discuss board container
:host ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.discuss-board {
  flex: 1 1;
  overflow: auto;
}

.discuss {
  border: 1px solid mat-color($gray, 400);
  border-radius: 6px;
  word-wrap: break-word;

  .ql-editor {
    padding: 6px 10px;
  }
}

:host ::ng-deep .msg-input {
  .ql-container.ql-snow {
    max-height: calc(100% - 46px);
    height: auto;
    border-bottom: none;
  }

  .ql-toolbar.ql-snow {
    display: flex;
    .mat-icon {
      height: 100%;

      &.submit {
        vertical-align: -11px;
        cursor: pointer;
      }
    }
  }
}

.resize-line {
  position: relative;
  margin: 8px 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: mat-color($gray, 400);
  opacity: 0.2;
  transition: opacity 0.15s ease;
  cursor: pointer;

  &::after {
    display: block;
    content: "drag_indicator";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: $body-bg;
    font-family: "Material Icons";
    font-size: 20px;
    color: mat-color($gray, 700);
    opacity: 0;
    transition: opacity 0.15s ease;
  }

  &:hover,
  &:focus,
  &.hold {
    opacity: 1;

    &::after {
      opacity: 1;
    }
  }

  &-vertical {
    margin: 0 8px;
    width: 4px;
    height: 100%;

    &::after {
      transform: translate(-50%, -50%);
    }
  }
}
