@import "theme";

.grid-block {
  padding: 5px;
  width: 100%;
  height: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  height: 100%;
  border: 1px solid mat-color($gray, 300);
  border-radius: 6px;

  &-content {
    padding: 10px;
    flex: 1 1;
  }

  &-footer {
    margin-top: auto;
  }

  &-list {
  }

  &-item {
  }
}

.msg-screen {
  padding: 10px;
  height: 100%;
}

.msg-wrapper {
  max-width: 60%;
  width: fit-content;

  & + & {
    margin-top: 12px;
  }

  &-right {
    margin: 0 0 0 auto;
  }
}
