.user-info {
  display: flex;

  &-avatar {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }

  input {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 24px;

    &:focus {
      outline: none;
    }
  }
}

.submit-btn {
  margin-top: 1rem;
}

.user-avatar-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-top: 1rem;

  > * {
    padding: 4px;
  }
}
