<div class="login-container">
    <div class="login-box">
        <a
            class="link"
            routerLink="../login"
        >
            or Login
        </a>
        <div class="user-info gap">
            <div class="user-info-avatar">
                <mat-icon
                    inline="true"
                    [svgIcon]="'avatar:' + userAvatar.value"
                ></mat-icon>
            </div>
            <input
                type="text"
                placeholder="user name"
                [formControl]="userName"
            >
        </div>
        <button
            app-forward-btn
            class="gap"
            style="width: 100%;"
            [disabled]="!userName.value"
            (click)="enter()"
        >
            enter
        </button>
        <div class="user-avatar-list">
            <div *ngFor="let avatar of avatarList">
                <app-user-avatar
                    [icon]="avatar"
                    [select]="avatar === userAvatar.value"
                    (click)="userAvatar.setValue(avatar)"
                ></app-user-avatar>
            </div>
        </div>
    </div>
</div>
