<div class="login-container">
    <div class="login-box">
        <a
            class="link"
            [routerLink]="isRegister ? '../login' : '../register'"
            style="display: block; margin-bottom: 1rem;"
        >
            {{ isRegister ? 'or Login' : 'No account? register' }}
        </a>
        <ng-container *ngIf="isRegister; else loginTemplate">
            <app-register-form (submit)="register()"></app-register-form>
        </ng-container>
        <ng-template #loginTemplate>
            <div class="user-info">
                <div class="user-info-avatar">
                    <mat-icon
                        inline="true"
                        [svgIcon]="'avatar:' + userAvatar.value"
                    ></mat-icon>
                </div>
                <input
                    type="text"
                    placeholder="user name"
                    [formControl]="userName"
                >
            </div>
            <button
                class="submit-btn"
                app-forward-btn
                style="width: 100%;"
                [disabled]="!userName.value"
                (click)="enter()"
            >
                login
            </button>
            <div class="user-avatar-list">
                <div *ngFor="let avatar of avatarList">
                    <app-user-avatar
                        [icon]="avatar"
                        [select]="avatar === userAvatar.value"
                        (click)="userAvatar.setValue(avatar)"
                    ></app-user-avatar>
                </div>
            </div>
        </ng-template>
    </div>
</div>
