<div class="login-container">
    <div class="login-box">
        <div class="user-info gap">
            <div class="user-info-avatar">
                <app-user-avatar
                    [icon]="userAvatar"
                    size="lg"
                ></app-user-avatar>
            </div>
            <input
                type="text"
                placeholder="user name"
                [formControl]="userName"
            >
        </div>
        <a
            app-forward-btn
            class="gap"
            style="width: 100%;"
            routerLink="../chat-room"
            [disabled]="!userName.value"
        >
            enter
        </a>
        <div class="user-avatar-list">
            <div *ngFor="let avatar of userAvatars">
                <app-user-avatar
                    [icon]="avatar"
                    [select]="avatar === userAvatar"
                    (click)="selectAvatar(avatar)"
                ></app-user-avatar>
            </div>
        </div>
    </div>
</div>
