@import "variables";

.login-container {
  position: relative;
  height: 100%;
}

.login-box {
  max-width: 400px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-avatar-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);

  > * {
    padding: 4px;
  }
}

.user-info {
  display: flex;
  align-items: center;

  &-avatar {
    margin-right: 10px;
  }

  input {
    width: 150px;
    background-color: transparent;
    border: none;
    font-size: 24px;

    &:focus {
      outline: none;
    }
  }
}

.enter {
  position: relative;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #7e7874;
  border-radius: 7px 16px 16px 7px;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #44403c;
  overflow: hidden;
  transition: opacity 0.2s;
  cursor: pointer;

  &-arrow {
    position: absolute;
    top: calc(50% - 8px);
    right: 12px;
  }

  &-disabled {
    border: 1px solid #7e7874;
    opacity: 0.65;
    cursor: default;
  }

  &:not(#{&}-disabled):hover {
  }
}

.gap {
  margin-bottom: 1rem;
}
