$gray: (
  100: #eeeae6,
  200: #ddd5d0,
  300: #bbb2ad,
  400: #9e9691,
  500: #7e7874,
  600: #5e5a57,
  700: #383737,
  contrast: (
    100: #383737,
    500: #383737,
    600: #383737,
    700: #eeeae6,
  ),
);

$font-family: "Source Sans Pro", sans-serif;
