<div
    class="msg-input-box-textarea"
    contenteditable="true"
>
</div>
<div class="msg-input-box-tool-bar">
    <div class="msg-tool-list">
        <div class="msg-tool-item">
            <label class="msg-tool">
                <input
                    type="file"
                    accept=".gif, .jpg, .png"
                >
                <mat-icon
                    inline="true"
                    class="material-icons-outlined"
                >
                    insert_photo
                </mat-icon>
            </label>
        </div>
        <div class="msg-tool-item">
            <label class="msg-tool">
                <input type="file">
                <mat-icon
                    inline="true"
                    class="material-icons-outlined"
                >
                    description
                </mat-icon>
            </label>
        </div>
        <div class="msg-tool-item">
            <button class="msg-tool">
                <mat-icon inline="true">insert_emoticon</mat-icon>
            </button>
        </div>
    </div>
    <div class="msg-submit">
        <button class="msg-tool">
            <mat-icon inline="true">north_east</mat-icon>
        </button>
    </div>
</div>
